.milka{
	position: relative;
	left: 0px;
	bottom: 0px;
}
.nestle{
	position: relative;
	left: -80px;
	bottom: -50px;
}
.lindt{
	position: relative;
	left: -160px;
	bottom: -100px;
}
.or{
	position: relative;
	left: -240px;
	bottom: -150px;
}
.newtree{
	position: relative;
	left: -320px;
	bottom: -200px;
}

img {
width: 18%;
}

div{
text-align:center;
margin-left: 15%;
padding-top:15%;
padding-bottom: 50%;

}


.milka:hover{
	z-index:1;
width: 20%;

}
.nestle:hover{
	z-index:1;
width: 20%;
}
.lindt:hover{
	z-index:1;
width: 20%;
}
.or:hover{
	z-index:1;
width: 20%;
}
.newtree:hover{
	z-index:1;
width: 20%;
}
